accumulation_tree==0.6.2
adagio==0.2.4
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
amqp==5.2.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.2.0
Babel==2.15.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
billiard==4.2.0
bleach==6.1.0
blinker==1.8.2
category-encoders==2.6.3
celery==5.4.0
certifi==2024.6.2
cffi==1.17.0rc1
chardet==4.0.0
charset-normalizer==3.3.2
chart-studio==1.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.0.0
cmdstanpy==1.2.4
colorama==0.4.6
comm==0.2.2
commonmark==0.9.1
contourpy==1.2.1
coreforecast==0.0.12
coverage==7.6.1
cron-descriptor==1.4.3
cryptography==42.0.8
cycler==0.12.1
Cython==3.0.10
darts==0.30.0
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dict2xml==1.7.5
dill==0.3.8
distro==1.9.0
Django==5.0.6
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-environ==0.11.2
django-rest-framework==0.1.0
django-timezone-field==6.1.0
djangorestframework==3.15.2
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
f5-icontrol-rest==1.3.13
fast-histogram==0.11
fastjsonschema==2.20.0
filelock==3.15.4
Flask==3.0.3
fonttools==4.53.0
fqdn==1.5.1
frozenlist==1.4.1
fs==2.4.16
fsspec==2024.6.1
fugue==0.9.1
future==1.0.0
genie==24.6
genie.libs.clean==24.6
genie.libs.conf==24.6
genie.libs.filetransferutils==24.6
genie.libs.health==24.6
genie.libs.ops==24.6
genie.libs.parser==24.6
genie.libs.sdk==24.6
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.0.3
grpcio==1.64.1
gunicorn==23.0.0
h11==0.14.0
holidays==0.52
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imbalanced-learn==0.12.3
importlib_metadata==8.2.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.3.2
json5==0.9.25
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kaleido==0.2.1
kiwisolver==1.4.5
kombu==5.3.7
lightgbm==4.5.0
lightning-utilities==0.11.6
llvmlite==0.43.0
lxml==4.9.4
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mistune==3.0.2
mmh3==3.1.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==9.0.0
napalm==5.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ncclient==0.6.15
nest-asyncio==1.6.0
netaddr==0.10.1
netmiko==4.4.0
netutils==1.9.0
networkx==3.3
nfoursid==1.0.1
nornir==3.4.1
nornir-inspect==1.0.3
nornir-netmiko==1.0.1
nornir-utils==0.2.0
nornir_napalm==0.5.0
notebook==7.2.1
notebook_shim==0.2.4
ntc_templates==5.1.0
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
openpyxl==3.1.5
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandarallel==1.6.5
pandas==2.0.0
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
plotly==5.22.0
plotly-resampler==0.10.0
pluggy==1.5.0
ply==3.11
pmdarima==2.0.4
prettytable==3.10.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
prophet==1.1.5
protobuf==5.27.2
psutil==6.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.4.8
pyats==24.6
pyats.aereport==24.6
pyats.aetest==24.6
pyats.async==24.6
pyats.connections==24.6
pyats.datastructures==24.6
pyats.easypy==24.6
pyats.kleenex==24.6
pyats.log==24.6
pyats.reporter==24.6
pyats.results==24.6
pyats.tcl==24.6
pyats.topology==24.6
pyats.utils==24.6
pycaret==3.3.2
pycparser==2.22
pyeapi==1.0.2
pyftpdlib==1.5.10
Pygments==2.18.0
PyNaCl==1.5.0
pyod==2.0.1
pyparsing==3.1.2
pyserial==3.5
pysftp==0.2.9
pysmi-lextudio==1.4.3
pysnmp-lextudio==5.0.29
pysnmpcrypto==0.0.4
pytest==7.4.4
pytest-cov==4.1.0
python-crontab==3.1.0
python-dateutil==2.9.0.post0
python-engineio==3.14.2
python-json-logger==2.0.7
python-socketio==4.6.1
pytorch-lightning==2.3.3
pytz==2024.1
pyudorandom==1.0.0
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
redis==5.0.7
referencing==0.35.1
requests==2.32.3
rest.connector==24.6
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
rpds-py==0.18.1
rrcf==0.4.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
scp==0.15.0
seaborn==0.13.2
Send2Trash==1.8.3
shap==0.46.0
six==1.16.0
sktime==0.26.0
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
speedtest==0.0.1
SQLAlchemy==2.0.31
sqlparse==0.5.0
stack-data==0.6.3
stanio==0.5.0
statsforecast==1.7.6
statsmodels==0.14.0
supervisor==4.2.5
sympy==1.13.1
tabulate==0.9.0
tbats==1.1.3
tdigest==0.5.2.2
tenacity==8.5.0
tensorboardX==2.6.2.2
terminado==0.18.1
textfsm==1.1.3
tftpy==0.8.0
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.1
toolz==0.12.1
torch==2.4.0
torchmetrics==1.4.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transitions==0.9.1
triad==0.9.8
triton==3.0.0
tsdownsample==0.1.3
ttp==0.9.5
ttp-templates==0.3.6
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.1
unicon==24.6
unicon.plugins==24.6
uri-template==1.3.0
urllib3==2.2.2
utils==1.0.2
utilsforecast==0.2.2
vine==5.1.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.3
widgetsnbextension==4.0.11
wurlitzer==3.1.1
xarray==2024.7.0
xgboost==2.1.1
XlsxWriter==3.2.0
xmltodict==0.13.0
xxhash==3.4.1
yamllint==1.35.1
yamlordereddictloader==0.4.2
yang.connector==24.6
yarl==1.9.4
yellowbrick==1.5
zipp==3.20.0
